
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0fbcaa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #0cb5aa;
    text-align: center;
    margin-bottom: 20px;
}


form {
    width: 100%;
    max-width: 700px;
    background-color: #19bab7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}
legend {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    padding: 0 10px;
}


table {
    width: 100%;
    border-spacing: 0 10px;
}
table td {
    padding: 10px;
    vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Placeholder Styling */
input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Radio Buttons */
input[type="radio"] {
    margin-right: 5px;
}
label[for="yes"],
label[for="no"] {
    margin-right: 15px;
    font-size: 14px;
    color: #333;
}

/* Buttons */
button[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049; 
}

button[type="reset"] {
    background-color: #1caaaa; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="reset"]:hover {
    background-color: #19cfb7; 
}
